<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body style="background-color: black;">
    <div class="new" style="margin:13rem 0 0 37rem;">
    <h3 style="color: white;">Write new chat..</h3>
    <form method="post" action="/chats">
        <input placeholder="who are you?" name="from">
        <br><br>
        <textarea name="msg">Write your message here</textarea>
        <br><br>
        <input placeholder="add receiver" name="to">
        <br><br>
        <button><b>Create Chat</b></button>
    </form>
</div>
</body>
</html>